@charset "utf-8";
body,div,li,ul,i,img,h1,h2,h3,h4,h5{padding:0;margin: 0;}
body{background: #ffffff;width:1280px;margin: 0 auto;}
li{list-style: none;}
a{color: #787b83;text-decoration: none;}
img{border: none;}
.fl{float:left}
.fr{float:right}
.dib{display: inline-block;}
/** 初始化样式表**/
#header{width: 100%;background:url(../imgs/1.png) left top no-repeat ;background-position: 59px 13px;}
.logo{margin-left:100px;margin-top: 18px;margin-right: 490px;}
.logo h2{font-size: 20px;font-family: "宋体";}
.nav{margin-top: 17px;border-bottom: 5px;border-color: #FFFFFF;}
.nav ul li{float: left;padding-left: 20px;padding-right: 20px;margin-left: 8px;padding-bottom: 23px;}
.nav ul li:hover{border-bottom:solid 5px #E74F4D;}
.nav ul li:hover a{color: #E74F4D;}
.nav ul li:last-child{border:none;}
.nav ul li a{font-size: 12px;}
.nav ul li:first-child a{color: #E74F4D;}
.nav ul li:first-child{width: 65px;text-align: center;border-bottom:solid 5px #e7504d;}
.nav ul li i{height: 17px;width: 14px;background: url(../imgs/2.jpg) left top no-repeat;margin-right: 5px;}
.nav ul li:last-child a{color: #ea6f6e;}
/**图片内容部分**/
#content{width: 100%;border: solid 1px #e6e6e6;}
.c1{background: url(../imgs/task_1_7_1.jpg) left top no-repeat;height: 459px;width: 100%;padding-top: 231px;}
.c1 h2{font-family: "微软雅黑";font-size: 47px;color: #ffffff;margin-left: 116px;}
.c1 p{font-family:"微软雅黑";font-size: 19px;color: #FFFFFF;margin-left:126px;}
.input-1{width: 230px;height: 47px;background: #E74F4D;padding-left: 100px;padding-top: 16px;margin-left: 126px;}
.input-1 a{color: #FFFFFF;font-size: 29px;}
/**图一**/
.c2{width: 100%;font-size: 14px;color: #828383;font-family:"微软雅黑";}
.c2Img ul{margin-left: 145px;margin-top: 46px;}
.c2Img ul li{float:left;margin-right: 277px;margin-bottom: 46px;}
.c2Img ul li:last-child{margin-right: 0px;}
.c2Text ul{margin-left:89px ;}
.c2Text ul li{float: left;text-align: center;height: 52px;padding-left: 93px;padding-right: 56px;margin-bottom: 65px;border-left: solid 1px #aaaaaa;border-right: solid 1px #bbbbbb;}
.c2Text ul li:first-child{padding-left: 0px;border-left: none;}
.c2Text ul li:last-child{padding-right: 0px;border-right: none;}
.c3{width:100%;text-align: center;align-content: center;background: #ededed;padding-top: 90px;padding-bottom: 80px;}
.c3 img{margin-bottom: 50px;}
.c3 h3{font-size: 48px;color: #a1a1a1;font-family: "微软雅黑";}
.c4{width: 100%;height: 340px;background: url(../imgs/8.jpg) left top no-repeat;}























